<html>
<body>
<small><%= kari[:name] %></small>
<h1>Bewertung</h1>
<form action="wertung" method="post">
    <label>
        <select name="geraet">
            <% geraete.each_with_index do |geraet, index| %>
                <option value="<%=index%>"><%=geraet[:name].to_s.capitalize %></option>
            <% end %>
        </select>
    </label>
    <label>
        <select name="turner">
            <% turners.each_with_index do |turner, index| %>
                <option value="<%=index%>"><%=turner[:name] %></option>
            <% end %>
        </select>
    </label>
    <label>
        <input type="text" name="wertung"/>
    </label>
    <input type="submit">
</form>

</body>
</html>