<html>

<body>
<h1>SHM 2013 Einzelwertung</h1>

<table id="table" class="tablesorter-blue">
    <thead>
    <tr>
        <th>Mannschaft</th>
        <th>Turner</th>
        <th>Klasse</th>
        <th class="empty-bottom">Boden</th>
        <th class="empty-bottom">Pauschenpferd</th>
        <th class="empty-bottom">Ringe</th>
        <th class="empty-bottom">Sprung</th>
        <th class="empty-bottom">Barren</th>
        <th class="empty-bottom">Reck</th>
        <th class="empty-bottom">Schwebebalken</th>
        <th class="empty-bottom">Punkte</th>
        <th class="empty-bottom">Platz</th>
    </tr>
    </thead>
    <tbody>
    <% turners.each do |turner| %>
        <tr>
            <td><%= turner[:uni] %> <%= turner[:mannschaft] %></td>
            <td><%= turner[:name] %></td>
            <td><%= turner[:km] %></td>
            <td><%= turner[:wertungen]["boden"] %></td>
            <td><%= turner[:wertungen]["pauschenpferd"] %></td>
            <td><%= turner[:wertungen]["ringe"] %></td>
            <td><%= turner[:wertungen]["sprung"] %></td>
            <td><%= turner[:wertungen]["barren"] %></td>
            <td><%= turner[:wertungen]["reck"] %></td>
            <td><%= turner[:wertungen]["schwebebalken"] %></td>
            <td><%= turner[:wertungen]["punkte"] %></td>
            <td><%= turner[:wertungen]["platz"]%></td>
        </tr>
    <% end %>
    </tbody>
</table>

</body>
</html>