<html>
<body>
<form action="maenner" method="post">
  <div id='geraetauswahl'>
    <h2>Gerät</h2>
    <input type="radio" id="radio1" name="geraet" value="boden" checked>
    <label for="radio1">Boden</label>
    <input type="radio" id="radio2" name="geraet" value="pauschenpferd">
    <label for="radio2">Pauschenpferd</label>
    <input type="radio" id="radio3" name="geraet" value="ringe">
    <label for="radio3">Ringe</label>
    <input type="radio" id="radio4" name="geraet" value="sprung">
    <label for="radio4">Sprung</label>
    <input type="radio" id="radio5" name="geraet" value="barren">
    <label for="radio5">Barren</label>
    <input type="radio" id="radio6" name="geraet" value="reck">
    <label for="radio6">Reck</label>
  </div>

  <div id='riege3'>
    <h2>Riege 1</h2>
      <% riege1.each do |turner| %>
          <input type="radio" id="radioturner<%=turner[:id]%>" name="turner" value="<%=turner[:id]%>">
          <label for="radioturner<%=turner[:id]%>"><strong><%=turner[:km] %></strong>, <%=turner[:name] %> <%=turner[:id]%></label>
      <% end %>
  </div>

  <div id='riege3'>
    <h2>Riege 2</h2>
    <% riege2.each do |turner| %>
          <input type="radio" id="radioturner<%=turner[:id]%>" name="turner" value="<%=turner[:id]%>">
          <label for="radioturner<%=turner[:id]%>"><strong><%=turner[:km] %></strong>, <%=turner[:name] %></label>
      <% end %>
  </div>

  <div>
    <h2>Wertung</h2>
    <input id='wertung' type="text" name="wertung"/><br>
    <input id='submitbutton' type="submit">
  </div>
</form>

</body>
</html>