<html>
<body>
<form action="maenner" method="post">
  <div id='geraetauswahl'>
    <h2>Gerät</h2>
      <% %w(Boden Pauschenpferd Ringe Sprung Barren Reck).each_with_index do |name, index| %>
          <input type="radio" id="radio<%= index+1 %>" name="geraet" value="<%= name.downcase %>" <%= geraet==name.downcase ? 'checked' : ''%>>
          <label for="radio<%= index+1%>"><%= name %></label>
      <% end %>
  </div>

  <div id='riege3'>
    <h2>Riege 1</h2>

      <% riege1.each do |turner| %>
          <input type="radio" id="radioturner<%=turner[:id]%>" name="turner" value="<%=turner[:id]%>">
          <label for="radioturner<%=turner[:id]%>"><strong><%=turner[:km] %></strong>, <%=turner[:name] %>
          </label>
      <% end %>
  </div>

  <div id='riege3'>
    <h2>Riege 2</h2>
    <% riege2.each do |turner| %>
          <input type="radio" id="radioturner<%=turner[:id]%>" name="turner" value="<%=turner[:id]%>">
          <label for="radioturner<%=turner[:id]%>"><strong><%=turner[:km] %></strong>, <%=turner[:name] %></label>
      <% end %>
  </div>

  <div>
    <h2>Wertung</h2>
    <input id='wertung' type="number" min="0" max="20" step="0.05"/><br>
    <input id='submitbutton' type="submit">
  </div>
</form>

</body>
</html>